:root {
    color-scheme: initial !important;
}

.anchor-tag-icons {
    color: white;
    text-decoration: none;
}

.anchor-tag-icons > i {
    transition: 0.5s ease;
}

.anchor-tag-icons > i:hover {
    transform: scale(1.5);
}

.anchor-tag-icons:hover {
    color: white;
}

.screen-header {
    background-color: #6200EE;
    color: white;
}
/* 
.page-title {
    margin-top: 80px;
} */

.profile-pic {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    /* margin-top: 20px; */
}

.nav-buttons {
    padding: 15px;
    margin: 0px 15px 0px 15px;
    border: thin solid #6200EE;
    color: #6200EE;
    border-radius: 30px;
    width: 150px;
    text-align: center;
    transition: 0.5s ease;
}

.nav-buttons .active {
    background-color: #6200EE;
    color: white;
}

.nav-buttons:hover {
    background-color: #6200EE;
    color: white;
    transform: scale3d(1.1, 1.1, 1.1);
}

@media (max-width: 1200px) {
    .nav-buttons {
        padding: 10px;
        margin: 10px 10px 0px 10px;
        width: 100px;
    }
}